<h3 class="heading">SpaceX Launch Program</h3>
<!-- <app-filter></app-filter>
<app-grid-section></app-grid-section> -->

<!-- The flexible grid (content) -->
<div class="row">
  <div class="side">
    <h3>Filters</h3>
    <p class="launch-year">Launch Year</p>
    <label class="switch switch-yes-no">
      <input class="switch-input" type="checkbox" />
      <span class="switch-label" data-on="Yes" data-off="No"></span>
      <span class="switch-handle"></span>
    </label>
    <label class="switch switch-yes-no">
      <input class="switch-input" type="checkbox" />
      <span class="switch-label" data-on="Yes" data-off="No"></span>
      <span class="switch-handle"></span>
    </label>
    <label class="switch switch-yes-no">
      <input class="switch-input" type="checkbox" />
      <span class="switch-label" data-on="Yes" data-off="No"></span>
      <span class="switch-handle"></span>
    </label>
    <label class="switch switch-yes-no">
      <input class="switch-input" type="checkbox" />
      <span class="switch-label" data-on="Yes" data-off="No"></span>
      <span class="switch-handle"></span>
    </label>

    <p class="launch-year">Successful Launch</p>

    <label class="switch switch-yes-no">
      <input class="switch-input" type="checkbox" />
      <span class="switch-label" data-on="Yes" data-off="No"></span>
      <span class="switch-handle"></span>
    </label>
    <label class="switch switch-yes-no">
      <input class="switch-input" type="checkbox" />
      <span class="switch-label" data-on="Yes" data-off="No"></span>
      <span class="switch-handle"></span>
    </label>

    <p class="launch-year">Successful Landing</p>
    <label class="switch switch-yes-no">
      <input class="switch-input" type="checkbox" />
      <span class="switch-label" data-on="Yes" data-off="No"></span>
      <span class="switch-handle"></span>
    </label>
    <label class="switch switch-yes-no">
      <input class="switch-input" type="checkbox" />
      <span class="switch-label" data-on="Yes" data-off="No"></span>
      <span class="switch-handle"></span>
    </label>

  </div>
  <div class="main">
    <div class="flex-container">
      <div class="grid-section">

        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
          tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <br>



      </div>

      <div class="grid-section">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
          tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <br>

      </div>

      <div class="grid-section">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
          tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <br>

      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <h2>Developed By :</h2> Ahmar Sharif
</div>